@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #d6e2f0ff;
    font-family: 'outfit';
}
.container{
    width: 245px;
    margin:100px auto;
    padding: 15px;
    background-color: #ffffffff;
    border-radius: 10px;
    text-align: center;
}
.container img{
    width: 100%;
}
.bold{
    font-size: 1rem;
    font-weight: bold;
    color: #1f3251ff;
    margin-top: 10px;
}
.thin{
    font-size: 0.94rem;
    color: #7b8898ff;
    margin-top: 10px;
    line-height: 1.3rem;
}
.attribution {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 15px;
    color: #000000ff;
}
.attribution a {
    color: #3d52a3;
    text-decoration: none;
}